 <h1 class="titulo">BOOK INVENTORY</h1>
 <div class="underline" ></div>
 <p class="descrip">Administracion de Libros</p>
<!-- Button trigger modal -->
<button type="button" class="btn-libro" (click)="openForm(contenido)">
    Crear Libro
</button>


<ng-template #contenido let-modal>



    <div class="modal-header">
        <h4 class="modal-title">Formulario</h4>
      

        <button class="close" aria-label="close" type="button" (click)="resetearFormulario();modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
    <div class="underline2" ></div>
    <div class="modal-body">
        <div class="formularioRegistro">
            <form [formGroup]="libroForm" (ngSubmit)="guardar()">
                <div class="form-group">
                    <label>Nombre</label>
                    <input [class]="isValidFieldNombre('nombre').invalidClass" type="text" formControlName="nombre"
                        class="form-control" placeholder="Por favor ingresa el nombre del Libro">

                    <div *ngIf="isValidFieldNombre('nombre').errorMessage" class="invalid-feedback">
                        {{isValidFieldNombre('nombre').errorMessage }}</div>

                </div>

                <div class="form-group">
                    <label>Precio</label>
                    <input [class]="isValidFieldPrecio('precio').invalidClass" type="number" formControlName="precio"
                        class="form-control" placeholder="Por favor ingresa el valor del Libro" min="0">
                    <div *ngIf="isValidFieldPrecio('precio').errorMessage" class="invalid-feedback">
                        {{isValidFieldPrecio('precio').errorMessage }}</div>
                </div>

                <div class="form-group" formGroupName="autor">
                    <label>Autor</label>
                    <select name="autor" id="autor" formControlName="idAutor" class="form-control">
                        <option [ngValue]="item.idAutor" *ngFor="let item of autores">{{item.nombre}}</option>
                    </select>
                </div>

                <div class="form-group" formGroupName="categoria">
                    <label>Categoria</label>
                    <select name="categoria" id="categoria" formControlName="idCategoria" class="form-control">
                        <option [ngValue]="item.idCategoria" *ngFor="let item of categorias">{{item.nombre}}</option>
                    </select>
                </div>


                <button type="submit" class="btn btn-primary" [disabled]="libroForm.invalid">Save</button>

            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="resetearFormulario(); modal.close()">Cancelar</button>
    </div>
</ng-template>

<div class="table-container">

    <table class="content-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Autor</th>
                <th>Categoria</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of libros | paginate: { itemsPerPage: 3, currentPage:pageActual }" >
                <th>{{item.nombre}}</th>
                <th>${{item.precio}}</th>
                <th>{{item.autor.nombre}}</th>
                <th>{{item.categoria.nombre}}</th>
                <th>
                    <button id="edit"type="button" class="btn btn-outline-primary" (click)="editar(contenido,item)">
                        <i class="fas fa-pencil-alt"></i> 
                    </button>

                    <button type="button" class="btn btn-outline-danger" (click)="desactivar(item)">
                        <i class="fa-solid fa-power-off"></i> 
                    </button> 
                </th>
            </tr>
        </tbody>

    </table>
    <div  class="d-flex justify-content-center " >
        <pagination-controls class="my-pagination" (pageChange)="pageActual = $event"></pagination-controls>
    </div>
</div>




<router-outlet></router-outlet>