<p class="descrip">Bienvenido</p>
<h1 class="titulo">BOOK INVENTORY</h1>
<div class="underline" ></div>
<a class="btn" routerLink="administrar">Administrador de Libros</a>

<!--MAÑANA ARREGLAR PROBLEMA DEL BOTON CREAR LIBRO: ya
 TAMBIEN VER COMO SE AGREGA UN BOTON PARA IR DE NUEVO AL INICIO ya
LUEGO DARLE DISEÑO AL MODAL ya
Y POR ULTIMO HACER DE NUEVO VALIDACIONES PARA CUANDO SE VA A CERRAR EL MODAL ES DECIR
QUE LE PREGUNTE AL USUARIO: Desea cerrar el modal?
o cuando se va a guardar: desea guardar el registro?
o cuando se va a desabilitar: confirmar desabilitacion

solo eso faltaria luego se haria pruebas y por ultimo preguntar como seria lo del video
si seria explicando lo que he realizado o solo mostrando el proyecto.-->
